<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="org.tflsh.multifacette">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
      android:supportsRtl="true"
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup_descriptor"
      android:icon="@mipmap/ic_launcher_round"
      android:label="@string/app_name"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar">

    <activity
        android:name=".SlideshowActivity"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
      <intent-filter>
        <!-- This activity handles "SEND" actions with text data -->

        <action android:name="android.intent.action.MAIN" />

        <action android:name="org.tflsh.multifacette.msg" />

        <category android:name="android.intent.category.LAUNCHER" />

        <category android:name="android.intent.category.DEFAULT" />

      </intent-filter>

    </activity>
    <activity
        android:name=".EmailPasswordActivity"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
        android:label="@string/applogin_name"
        android:theme="@style/AppTheme"></activity>

  </application>

</manifest>